@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #080000;
  }
}

html, body {
    min-width: 400px;
    min-height: 1028px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.no-select {
    -webkit-user-select: none;    /* Safari */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+/Edge */
    user-select: none;            /* 표준 문법 */
}